backEnd/WebDevBackEnd/Business/obj/Debug/netstandard2.0/Business.assets.cache
backEnd/WebDevBackEnd/Core/obj/Debug/netstandard2.0/Core.assets.cache
backEnd/WebDevBackEnd/Core/obj/Debug/netstandard2.0/Core.csprojAssemblyReference.cache
backEnd/WebDevBackEnd/DataAccess/obj/Debug/netstandard2.0/DataAccess.assets.cache
backEnd/WebDevBackEnd/Entities/obj/Debug/netstandard2.0/Entities.assets.cache
backEnd/WebDevBackEnd/Entities/obj/Debug/netstandard2.0/Entities.csprojAssemblyReference.cache
backEnd/WebDevBackEnd/WebAPI/obj/Debug/netcoreapp3.1/project.razor.json
backEnd/WebDevBackEnd/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.assets.cache
backEnd/WebDevBackEnd/WebAPI/obj/Debug/netcoreapp3.1/WebAPI.csprojAssemblyReference.cache
backEnd/WebDevBackEnd/.vs/WebDevBackEnd/v16/.suo
backEnd/WebDevBackEnd/WebDevBackEnd.sln
